@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
body{
    background-color: #EDFFEC;
}
a{
    text-decoration: none;
    color: black;
    font-family: fantasy;
}
h1{
    text-align: center;
    border-bottom: 2px solid #FFEDF7;
    margin: 60px;
    margin-bottom: 0;
    font-family: fantasy;
}
ul{
    list-style: none;
    margin: 0;
    padding-top: 50px;
    font-family: 'Jeju Hallasan', cursive;
    font-size: 20px;
    width: 120px;
    border-right: 2px solid #FFEDF7;
}
#photo{
    text-align: center;
}
#li{
    font-family: 'Jeju Hallasan', cursive;
}
#photoli{
    display: grid;
    height: 80vh;
    grid-gap: 3px;
    grid-template-rows:1fr 1fr 1fr;
    font-family: fantasy;
}
.scenery{
    border: 1px solid #CAF7E3;
    background-color: #CAF7E3;
}
.person{
    border: 1px solid #EDFFEC;
    background-color: #EDFFEC;
}
.snap{
    border: 1px solid #F6DFEB;
    background-color: #F6DFEB;
}