@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css); /*한라*/
@import url(//fonts.googleapis.com/earlyaccess/hanna.css); /*한나*/
body{
    background-color: #CAF7E3;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    border-bottom: 2px solid #A2D2C9;
    margin: 60px;
    margin-bottom: 0;
    font-family: fantasy;
}
.page{
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 9fr;
}
ul{
    list-style: none;
    padding-left: 20px;
}
.list{
    list-style: none;
    margin: 0;
    padding-top: 50px;
    padding-right: 35px;
    font-family: 'Jeju Hallasan', cursive;
    font-size: 20px;
    width: 120px;
    border-right: 2px solid #A2D2C9;
    
}
.photo{
    text-align: center;
}
#li{
    font-family: 'Jeju Hallasan', cursive;
}
#photoli{
    display: grid;
    height: 80vh;
    grid-gap: 3px;
    grid-template-rows:1fr 1fr 1fr;
    font-family: fantasy;
}
.scenery{
    border: 1px solid #CAF7E3;
    background-color: #CAF7E3;
}
.person{
    border: 1px solid #EDFFEC;
    background-color: #EDFFEC;
}
.snap{
    border: 1px solid #F6DFEB;
    background-color: #F6DFEB;
}
@media(max-width : 620px){
    ul{
        border-right: none;
    }
    #photo{
        padding-top: 60px;
    }
}